body{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: row;
  border-radius: 16px;
  box-sizing: content-box;
  box-shadow: 4px 5px 10px 2px rgba(20, 10, 100, .4);
}

.result{
  max-width: 300px;
  width: 30vw;
  height: 40vh;
  background-color: rgba(100, 100, 250);
  padding: 20px 10px;
  border-radius: 16px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.summary{
  max-width: 300px;
  width: 30vw;
  height: 40vh;
  padding: 10px 10px 10px 40px;
  transform: translateX(-25px);
  border-radius: 16px;
  background-color: white;
}

.summary_list{
  list-style: none;
}

.result_title, .result_score, .result_subtitle, span{
  background-color: transparent;
}

.result_title{
  text-align: center;
  font-size: 18px;
}

.result_score{
  width: 80px;
  height: 80px;
  background-color: rgba(100, 90, 200, .6);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result_subtitle{
  font-size: 16px;
  font-weight: bold;
}
